.animated-picto
	opacity 0
	transition opacity 0.4s ease-in-out
	
	&.loaded
		opacity 1

.animated-picto-step
	bacground-repeat : no-repeat
	display none
	background-size cover
	
	&.current
		display block
	
	