.application-step
	max-width: 100%;
	align(direction = vertical)
	span(ratio = 5/12)
	shift(1/12)
	
	.feature-title h5
		color : color.customBlue
	
	.feature-title-decoration
		background-color : color.customBlue
	
	.feature-description
		color : color.customBlue