.feature
	width 100%
	
	.feature-description
		margin-top 30px
	
featureTitleFontSize = 56
featureTitleDecorationHeight = 5
featureTitleDecorationWidth = 58

.feature-title
	position: relative
	h5{
		font_feature_title(featureTitleFontSize)
		color : color.featureTextColor
		letter-spacing 0.4px
	}
	.feature-title-decoration
		position: absolute
		top : ((featureTitleFontSize+featureTitleDecorationHeight) / 2)px
		left : -(featureTitleDecorationWidth+24) px
	
.feature-title-decoration
	display block
	width featureTitleDecorationWidth px
	height featureTitleDecorationHeight px
	background-color: white
	
.feature-description
	color : color.featureTextColor
	letter-spacing 0.4px
	font_feature_description(20)
	line-height 28px