header
	width 100%
	height : size_height.mainMenu
	fixed top 0 left 0
	z-index 500

.main-menu
	width 100%
	height : size_height.mainMenu
	overflow hidden
	position: relative

.menu-content
	dipslay block

.main-menu-element
	span(ratios = 1/6)
	height : size_height.mainMenu
	position: relative
	z-index 5
	background-color: white

	&.main-element
		background-color : color.mainMenu
		z-index: 10

	&:hover, &:focus
		cursor : pointer

.main-menu-element-label
	line-height : size_height.mainMenu
	text-align : center
	font_menu_element(18)
	letter-spacing : (40/100) px

	a{
		color : color.mainMenuElementLabel
		text-decoration : none
	}

.main-menu-element-underline
	display block
	width 148px
	height 4px
	background-color : color.mainMenuElementUnderline
	absolute bottom 0 left 0
	z-index 8

.csstransitions
	.main-menu-element-underline
		transition left 0.3s ease-out


button.main-menu-mobile
	width 54px
	height 55px
	border none
	background: imageNamed('menu-arrow.png') no-repeat #FFF 0 -55px
	display none
	position absolute
	top 0
	right 0
	z-index 200

@media screen and (max-width: 768px)
	header.open
		height 100%
		.main-menu
			height: 100%

		button.main-menu-mobile
			background-position 0 0

	.main-menu-element-underline
		display none
	.menu-content
		display none
		background-color #FFF
		height 100%
	.main-menu-element
		span(ratios = 6/6)
		text-align left
		height 55px

		&.element
			margin-top 30px

			.main-menu-element-label
				width 168px
				margin 0 auto
				text-align left

			a:before
				content ''
				display inline-block
				width 29px
				border: solid color.customBlue 2px
				padding-left 20px
				position relative
				top -3px
				left -20px

	button.main-menu-mobile
		display inline-block
