.screen-group
	//background-color: red
	width 100%

.screen
	width 100%
	position: relative

.cssfilters
	.screen
		.screen-background.must-blur-when-active > .blur-view{
			transition filter 0.4s ease-out
			transition -webkit-filter 0.4s ease-out
		}

		&.active
			.screen-background.must-blur-when-active > .blur-view{
				filter: blur(10px);
				-webkit-filter: blur(10px);
			}


.screen-sub-part
	width auto
	position relative
	top 0

.screen-sub-part-inner-wrapper
	position absolute
	left 0
	width 100%
	top 0

.screen-sub-part-outer-wrapper.movable
	position absolute
	left 0
	width 100%
	top 65%

.csstransitions
	.screen-sub-part
		.screen-sub-part-outer-wrapper.movable
			transition top 0.6s ease-out

		&.hidden-on-top
			.screen-sub-part-outer-wrapper.movable
				top -65%

		&.showed
			.screen-sub-part-outer-wrapper.movable
				top 0

.screen-background
	position: absolute
	margin-top : (size_height.mainMenu - 1)
	top 0
	left 0
	background-repeat : no-repeat
	width 100%

	overflow hidden

	img
		position: absolute
		top 0
		left 0

.main-background
	background-color : color.homeBackground

.section-title
	font_section_title(52)
	text-align center

.section-container
	max-width: 854px;
	margin-top 10%
	span(ratio = 8/12)
	align(direction = horizontal)

.step-container
	max-width: 100%;
	span(ratio = 6/12)
	align(direction = both)

.screen-common-elements
	width 100%
	position: absolute
	top 0
	left 0

@media screen and (max-width: 1200px)
	.section-container
		width 80%

@media screen and (max-width: 1024px)
	.section-container
		width 90%
		margin-top 15%
		padding: 0 10px 0 10px

@media screen and (max-width: 720px)
	.section-container
		margin-top 25%
