#screen-animals
	background: /*imageNamed('halo.png') no-repeat center center */color.animalsBackground

	.animals-container
		padding-top 8%

	h2
		color #FFF

#screen-animals .slider
	margin-top 8%

	li
		display inline-block

	.slick-slide
		height: 532px
		position: relative

		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

#screen-animals .pagination
	margin-top -85px
	font-size 0
	text-align center
	position relative
	z-index 200

	p.animal-name
		margin-bottom 20px
		color #e9efff
		font_base(wigrumRegular, 21)

	.loading
		position relative
		width 213px
		height 4px
		margin 0 auto
		overflow hidden
	hr
		height 2px
		background-color: #FFF
		border none

		&.loader
			width 0
			height 4px
			background-color: color.customBlue
			position absolute
			top -1px
			left 0

@media screen and (max-width: 1200px)
	#screen-animals .animals-container
		padding-top 15%

@media screen and (max-width: 720px)
	#screen-animals .animals-container
		padding-top 20%
