#screen-home
	.screen-sub-part-inner-wrapper
		span(ratio = 4/12)
		shift(6/12)
		align(direction = vertical)
		
#watch-the-teaser
	display block
	margin-top 30px
	
#brand-baseline, #watch-the-teaser
	color : color.brandBaseline
	text-decoration none

#screen-home-background-right, #screen-home-background-left
	img{
		align(direction = vertical)
		max-height 563px
	}

#screen-home-background-right
	img{
		left auto
		right 0
	}