.screen-group
	//background-color: red
	width 100%

.screen
	width 100%
	position: relative

.cssfilters
	.screen
		.screen-background.must-blur-when-active > .blur-view{
			opacity 0
			transition opacity 0.6s ease-in
			//transition -webkit-filter 0.4s ease-out
		}

		&.active-blur
			.screen-background.must-blur-when-active > .blur-view{
				opacity 1
				/*filter: blur(10px);
				-webkit-filter: blur(10px);*/
			}


.screen-sub-part
	width auto
	position relative

.screen-sub-part-inner-wrapper
	position absolute
	left 0
	width 100%
	top 0

.screen-sub-part-outer-wrapper.movable
	position fixed
	left 0
	width 100%
	top 100%

.csstransitions
	.screen-sub-part
		.screen-sub-part-outer-wrapper.movable
			transition top 0.6s cubic-bezier(0.77, 0, 0.175, 1)

		&.hidden-on-top
			.screen-sub-part-outer-wrapper.movable
				top -100%

		&.showed
			.screen-sub-part-outer-wrapper.movable
				top 0

.screen-background
	position: fixed
	margin-top : (size_height.mainMenu - 1)
	top 100%
	left 0
	background-repeat : no-repeat
	width 100%
	overflow hidden
	transition top 0.6s cubic-bezier(0.77, 0, 0.175, 1)
	
	img
		position: absolute
		top 0
		left 0

	&.showed
		top 0

	&.hidden-on-top
		top -100%

.main-background
	background-color : color.homeBackground

.section-title
	font_section_title(52)
	text-align center

.section-container
	max-width: 854px;
	margin-top 10%
	span(ratio = 8/12)
	align(direction = horizontal)

.step-container
	max-width: 100%;
	span(ratio = 6/12)
	align(direction = both)

.screen-common-elements
	width 100%
	position: absolute
	top 0
	left 0

@media screen and (max-width: 1200px)
	.section-container
		width 80%

@media screen and (max-width: 1024px)
	.section-container
		width 90%
		margin-top 15%
		padding: 0 10px 0 10px

@media screen and (max-width: 768px)
	.screen-background
		margin-top : (55 - 1)px
	.section-container
		margin-top 25%
