#screen-animals
    background-color: color.animalsBackground

    .animals-container
        padding-top 5%

    h2
        color #FFF

#screen-animals .slider
    margin-top 8%

    li
        display inline-block

    .slick-list
        padding: 0 !important

    .slick-slide
        height: 532px
        position: relative

        img
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
