#screen-home
	background-color: color.customBlue
	
	.screen-sub-part-inner-wrapper
		span(ratio = 5/12)
		shift(6/12)
		align(direction = vertical)

.home-text-container
	margin -130px 0 0 -100px

#watch-the-teaser
	display block
	margin-top 30px
	
#brand-baseline
	max-width 445px

#brand-baseline, #watch-the-teaser
	color : color.brandBaseline
	text-decoration none

.screen-home-background
	align(direction = both)
	
	&.showed
		top 50%
		
.screen-home-background img
	align(direction = both)

#screen-home-background-right, #screen-home-background-left
	img{
		align(direction = vertical)
		max-height 563px
	}

#screen-home-background-right
	img{
		left auto
		right 0
	}