.screen-group
	//background-color: red
	width 100%

.screen
	width 100%
	position: relative
	//background-color: green
		
	&.active
		.screen-background.blur-when-active > *{
			filter: blur(10px);
			-webkit-filter: blur(10px);
		}

.screen-sub-part
	width auto
	position relative

.screen-background
	position: absolute
	top 0
	left 0
	background-repeat : no-repeat
	width 100%

	overflow hidden

	img
		position: absolute
		top 0
		left 0

#screen-home-background-left
	background-color blue

.section-title
	font_section_title(52)
	text-align center

.section-container
	max-width: 854px;
	margin-top 10%
	span(ratio = 8/12)
	align(direction = horizontal)

.step-container
	max-width: 100%;
	span(ratio = 6/12)
	align(direction = both)
