footer
	background-color: color.customBlue

	.section-title
		margin-bottom 55px
		color: #FFF
		
footer p
	max-width 770px
	margin 0 auto
	font_base(wigrumRegular, 20)
	color #FFF
	text-align center
	line-height 28px
	
	&.thanks
		margin-bottom 35px
	
	a
		margin 0 28px
		text-decoration none
	
	span
		display inline-block
		margin-top 50px