#screen-object-background-left
	img{
		align(direction = vertical)
		max-height 625px
		shift(0/12)
	}
	
#object-fx
	align(direction = vertical)
	height 550px
	width 668px

.screen-object-background-fx
	opacity: 0
	transition opacity 0.3s ease-in-out
	
	&.current
		opacity: 1

#screen-object-background-pictos
	.picto
		position: absolute
		top : 0
		
	.sapin
		top : -65px
		right : 18%
		transition top 0.3s ease-in-out
		
		&.active
			top : 0px

	.nuage
		right : 35%
		top : 0px
		
		