/* Bleu #4b499c */

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: "Wigrum", Arial, sans-serif;
}

a {
    text-decoration: none;
}

section.main-section {
    width: 100%;
    height: 100%;
}

.section-title {
    font-weight: 200;
    font-size: 5.2em;
}


/***********************
*          MENU         *
************************/

nav.menu {
    position: fixed;
    width: 100%;
    background-color: #FFF;
}

nav.menu ul {
    display: flex;
}

nav.menu li {
    width: calc(100%/6);
    vertical-align: middle;
}

nav.menu a {
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    color: #4b499c;
}

nav.menu .menu__logo-link {
    background-color: #4b499c;
}

nav.menu .menu__logo-link img {
    vertical-align: middle;
    margin-right: 15px;
    position: relative;
    top: -3px;
}

nav.menu .menu__logo-title {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.12em;
    color: #eae9ff;
}

nav.menu .menu__underline {
    width: 148px;
    height: 4px;
    margin: 0;
    border: none;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
}


/***********************
*         HOME         *
************************/

section.home {
    background: url('../images/home-background.png') no-repeat center calc(50% + 53px) #4b499c fixed;
}

.home__content {
    max-width: 445px;
    position: absolute;
    top: calc(50% - 135px);
    left: calc(50% - 75px);
}

.home__title {
    font-family: "Wigrum", Arial, sans-serif;
    font-size: 6.2em;
    letter-spacing: 0.03em;
    color: #f1f1ff;
}

.home__teaser-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 2.2em;
    color: #f1f1ff;
}

.home__teaser-link::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    position: relative;
    left: 17px;
    top: 2px;
    background: url('../images/right-arrow.png');
}

/***********************
*         STEP         *
************************/

section.step {
    background: url('../images/steps-background.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.step__content {
    max-width: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #4b499c;
}

.step__title {
    font-size: 3.6em;
}

.step__description {
    margin-top: 18px;
    font-size: 2.0em;
    line-height: 30px;
    letter-spacing: 0.03em;
}

/***********************
*         TEAM         *
************************/

.team__title {
    text-align: center;
    color: #4b499c;
}

.team__content {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.team__person {
    margin-left: 28px;
    text-align: center;
}
.team__person:first-child {
    margin-left: 0;
}

.team-person__description {
    margin: 23px 0 20px 0;
    font-size: 1.9em;
    line-height: 1.4em;
    color: #4b499c;
}

.team-person__social-link {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 8px;
    background-color: #e9efff;
    border-radius: 22px;
}
.team-person__social-link:hover {
    background-color: #f7f9ff;
}

/***********************
*        THANKS        *
************************/

section.thanks {
    background-color: #4b499c;
    color: #FFF;
}

section.thanks p {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
    font-size: 2.0em;
}

.thanks__title {
    margin-bottom: 55px;
    text-align: center;
}

.thanks__text {
    margin-bottom: 50px;
}

.thanks__text p:first-child {
    margin-bottom: 40px;
}

.thanks__credits {
    text-align: center;
}

.thanks__credits a {
    display: inline-block;
    margin: 0 28px;
    vertical-align: middle;
}

section.thanks .thanks-credits__text {
    margin-top: 50px;
}
