wigrumWebRegular = 'wigrum_webregular'
wigrumRegular = 'wigrumregular'
wigrumBlack = 'wigrumblack'
wigrumBoldItalic = 'wigrumbold_italic'
wigrumItalic = 'wigrumitalic'
wigrumLight = 'wigrumlight'
wigrumBlackItalic = 'wigrumblack_italic'
wigrumBold = 'wigrumbold'
wigrumLightItalic = 'wigrumlight_italic'
wigrumMedium = 'wigrummedium'
wigrumMediumItalic = 'wigrummedium_italic'

font_menu_element(size)
	font_base(wigrumLight, size)

font_brand_name(size)
	font_base(wigrumMedium, size)
	
font_concept_title(size)
	font_base(wigrumWebRegular, size)

font_concept_text(size)
	font_base(wigrumWebRegular, size)
	
font_catch_phrase(size)
	font_base(wigrumWebRegular, size)

font_important_link(size)
	font_base(wigrumWebRegular, size)