@font-face {
    font-family: 'wigrum_webregular';
    src: url('./fonts/wigrum_web.eot');
    src: url('./fonts/wigrum_web.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum_web.woff2') format('woff2'),
         url('./fonts/wigrum_web.woff') format('woff'),
         url('./fonts/wigrum_web.ttf') format('truetype'),
         url('./fonts/wigrum_web.svg#wigrum_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wigrumregular';
    src: url('./fonts/wigrum-regular.eot');
    src: url('./fonts/wigrum-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-regular.woff2') format('woff2'),
         url('./fonts/wigrum-regular.woff') format('woff'),
         url('./fonts/wigrum-regular.ttf') format('truetype'),
         url('./fonts/wigrum-regular.svg#wigrumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wigrumblack';
    src: url('./fonts/wigrum-black.eot');
    src: url('./fonts/wigrum-black.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-black.woff2') format('woff2'),
         url('./fonts/wigrum-black.woff') format('woff'),
         url('./fonts/wigrum-black.ttf') format('truetype'),
         url('./fonts/wigrum-black.svg#wigrumblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wigrumbold_italic';
    src: url('./fonts/wigrum-bolditalic.eot');
    src: url('./fonts/wigrum-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-bolditalic.woff2') format('woff2'),
         url('./fonts/wigrum-bolditalic.woff') format('woff'),
         url('./fonts/wigrum-bolditalic.ttf') format('truetype'),
         url('./fonts/wigrum-bolditalic.svg#wigrumbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wigrumitalic';
    src: url('./fonts/wigrum-italic.eot');
    src: url('./fonts/wigrum-italic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-italic.woff2') format('woff2'),
         url('./fonts/wigrum-italic.woff') format('woff'),
         url('./fonts/wigrum-italic.ttf') format('truetype'),
         url('./fonts/wigrum-italic.svg#wigrumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wigrumlight';
    src: url('./fonts/wigrum-light.eot');
    src: url('./fonts/wigrum-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-light.woff2') format('woff2'),
         url('./fonts/wigrum-light.woff') format('woff'),
         url('./fonts/wigrum-light.ttf') format('truetype'),
         url('./fonts/wigrum-light.svg#wigrumlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wigrumblack_italic';
    src: url('./fonts/wigrum-blackitalic.eot');
    src: url('./fonts/wigrum-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-blackitalic.woff2') format('woff2'),
         url('./fonts/wigrum-blackitalic.woff') format('woff'),
         url('./fonts/wigrum-blackitalic.ttf') format('truetype'),
         url('./fonts/wigrum-blackitalic.svg#wigrumblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wigrumbold';
    src: url('./fonts/wigrum-bold.eot');
    src: url('./fonts/wigrum-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-bold.woff2') format('woff2'),
         url('./fonts/wigrum-bold.woff') format('woff'),
         url('./fonts/wigrum-bold.ttf') format('truetype'),
         url('./fonts/wigrum-bold.svg#wigrumbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wigrumlight_italic';
    src: url('./fonts/wigrum-lightitalic.eot');
    src: url('./fonts/wigrum-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-lightitalic.woff2') format('woff2'),
         url('./fonts/wigrum-lightitalic.woff') format('woff'),
         url('./fonts/wigrum-lightitalic.ttf') format('truetype'),
         url('./fonts/wigrum-lightitalic.svg#wigrumlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wigrummedium';
    src: url('./fonts/wigrum-medium.eot');
    src: url('./fonts/wigrum-medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-medium.woff2') format('woff2'),
         url('./fonts/wigrum-medium.woff') format('woff'),
         url('./fonts/wigrum-medium.ttf') format('truetype'),
         url('./fonts/wigrum-medium.svg#wigrummedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wigrummedium_italic';
    src: url('./fonts/wigrum-mediumitalic.eot');
    src: url('./fonts/wigrum-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wigrum-mediumitalic.woff2') format('woff2'),
         url('./fonts/wigrum-mediumitalic.woff') format('woff'),
         url('./fonts/wigrum-mediumitalic.ttf') format('truetype'),
         url('./fonts/wigrum-mediumitalic.svg#wigrummedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}