@import 'nib'
@import 'jeet'

global-reset()

@import "./functions.styl"
@import "./mixins.styl"

@import "./fontsImports.styl"
@import "./fonts.styl"
@import "./variables.styl"

@import "./components/*.styl"

/*==================*/
/*==================*/
/*==================*/

body
	background-color: white
	font-size 16

a.important-link
	font_important_link(22)
	
h2.catch-phrase
	font_catch_phrase(62)

#brand-baseline, #watch-the-teaser
	color : color.brandBaseline
	text-decoration none