@import 'nib'
@import 'jeet'

@import "./functions.styl"
@import "./mixins.styl"

@import "./fonts.styl"
@import "./variables.styl"

@import "./components/*.styl"

/*==================*/
/*==================*/
/*==================*/

body
	background-color: white
	font-size 16