mainFontSize = 16px

font-size(sizeValue = 16)
	font-size : sizeValue px
	font-size : (sizeValue/mainFontSize)rem

font_base(fontName, size = 16)
	font-family fontName
	font-size size

picto(imageName, width = 0, height = width)
	width : width
	height : height
	background no-repeat imageNamed(imageName)
	
cssShape_circle(size, color = #000)
	block size size
	border-radius 50%
	background-color color