color = {
	mainMenu : #4b499c,
	mainMenuElementBackground : white,
	mainMenuElementLabel : #4b499c,
	mainMenuElementUnderline : #504ea3,
	mainMenuElementBrandName : #eae9ff,
	brandBaseline : #f1f1ff,
	conceptText : #4b499c,
    customBlue : #4b499c,
    animalsBackground : #55c9bf,
    homeBackground : #4b499c,
    featureTextColor : #f1f1ff,
    screenApplicationBackground : #e9efff,
    fxLightsSpot : #fe7676
}

size_height = {
    mainMenu : 70px,
    logo : 44px,
    ipadBackground : 611px,
    ipadContent : 467px
}

size_width = {
	ipadBackground : 451px,
	ipadContent : 352px
}