color = {
	mainMenu : #4b499c,
	mainMenuElementBackground : white,
	mainMenuElementLabel : #4b499c,
	mainMenuElementUnderline : #504ea3,
	mainMenuElementBrandName : #eae9ff,
	brandBaseline : #f1f1ff,
	conceptText : #4b499c,
    customBlue : #4b499c,
    animalsBackground : #55c9bf
}

size_height = {
    mainMenu : 70px,
    logo : 44px
}

size_width = {

}